<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleDisplayName</key>
		<string>Engine Simulator</string>
		<key>CFBundleExecutable</key>
		<string>app</string>
		<key>CFBundleIconFile</key>
		<string>icon.icns</string>
		<key>CFBundleIdentifier</key>
		<string>engine.dodde.rs</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Engine Simulator</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.1.0</string>
		<key>CFBundleVersion</key>
		<string>20240826.202915</string>
		<key>CSResourcesFileMapped</key>
		<true/>
		<key>LSMinimumSystemVersion</key>
		<string>10.13</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>engine</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>Engine Simulator Engine</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSTypeIsPackage</key>
				<false/>
				<!-- Set to true if "engine" files are packages -->
			</dict>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>engine</string>
				</array>
				<key>CFBundleURLName</key>
				<string>engine.dodde.rs engine</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
			</dict>
		</array>
		<key>LSRequiresCarbon</key>
		<true/>
		<key>NSHighResolutionCapable</key>
		<true/>
	</dict>
</plist>