.settings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings {
    background-color: #4988cb;
    border: white 2px solid;
    height: 60vh;
    width: 40vw;
}